<!DOCTYPE html>
<html>
  <head>
    <title>DeviseCancan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= link_to "sign out",destroy_user_session_path, method: :delete   %>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>
